{% extends "pages/base.twig" %}

{% block content %}

    {% for _student in student %}
        <div>
            <a>
                <div>{{ _student.first_name }} {{ _student.last_name }}</div>
            </a>
        </div>
        <div>
            <a>
                <div>Skill Development {{ _student.skill_development }}</div>
            </a>
        </div>
        <div>
            <a>
                <div>Skill Design {{ _student.skill_design }}</div>
            </a>
        </div>
        <div>
            <a>
                <div>Skill Marketing {{ _student.skill_marketing }}</div>
            </a>
        </div>
    {% endfor %}

{% endblock %}